<!DOCTYPE html>
<html class="js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>UKCI Direct Cremations</title>

    <!-- fonts used -->
    <link href="https://fonts.googleapis.com/css?family=Markazi+Text:400,500,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" id="twentysixteen-style-css" href="~/Content/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery.js"></script>


</head>

<body id="top" class="home">
    <div id="page" class="site">
        <div class="site-inner">
            <header id="masthead" class="site-header" role="banner">
                <div class="site-header-main">
                    <div class="container">
                        <div class="site-branding">
                            @Html.Action("GetLogo", "Home")
                        </div>
                        <button id="menu-button" class="menu-toggle">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div id="site-header-menu" class="site-header-menu">
                            @Html.Action("GenerateMenu", "Home")
                            @**@
                        </div> <!-- .main-navigation-->
                        <p class="phone-block">
                            <a href="tel:+0800 044 9454"><i class="fas fa-phone fa-1x fa-rotate-180 fa-stack-1x"></i>@Html.Action("GeneratePhone", "Home")</a>
                        </p>
                    </div><!-- container -->
                    <!-- .site-header-menu -->
                </div>
                <!-- .site-header-main -->
            </header>
            @if ((ViewBag.PageName == "Home") || (ViewBag.PageName == null))
            {
                @Html.Action("GenerateBanner", "Home");
            }
            else
            {
                @Html.Action("GenerateInnerBanner", "Home")
            }
            @RenderBody()
        </div>
        <footer id="colophon" class="site-footer" role="contentinfo">
            <div class="site-info">
                <div class="section-footer text-left-align">
                    @Html.Action("GenerateFooter","Home")
                </div>
                <div class="footer_bottom">
                    <div class="container">
                        @Html.Action("GenerateFooterMenu", "Home")
                        <p class="copyright">&copy; 2018- Direct Cremation. All Right Reserved. Designed by <a href="http://www.digitalcherry.co.uk/" target="_blank">DigitalCherry</a></p>
                    </div>
                </div>
            </div>
            <!-- .site-info -->
        </footer>
        <!-- Royal Slider -->
        <script src="~/js/jquery.royalslider.min.js"></script>
        <script src="~/js/jquery.easing-1.3.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".royalSlider").royalSlider({
                    // options go here
                    // as an example, enable keyboard arrows nav
                    keyboardNavEnabled: true,
                    arrowsNav: false,
                    addActiveClass: true,
                    autoPlay: {
                        enabled: true,
                        pauseOnHover: true,
                        stopAtAction: false,
                        delay: 5000,
                        transitionType: 'fade',
                        transitionSpeed: 500,
                    }

                });

                $("#btnRequest").click(function () {
                    var name = $("#txtFName").val() + " " + $("#txtLName").val();
                    var email = $("#txtEmail").val();
                    var phone = $("#txtPhone").val();

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Contact","Home")",
                        data: JSON.stringify({ Name: name, Email: email, Phone: phone }),
                        contentType: "application/json",
                        success: function (response) {
                            alert("Query submitted successfully.");
                        }
                    });
                });

                $("#btnCallback").click(function () {
                    var name = $("#txtFName").val() + " " + $("#txtLName").val();
                    var email = $("#txtEmail").val();
                    var phone = $("#txtPhone").val();
                    var query = $("#txtQuery").val();

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Contact","Home")",
                        data: JSON.stringify({ Name: name, Email: email, Phone: phone, Query: query }),
                        contentType: "application/json",
                        success: function (response) {
                            alert("Query submitted successfully.");
                        }
                    });
                });
            })
        </script>

        <script src="~/js/custom.js"></script>
        <script src="~/js/mCustomScrollbar.min.js"></script>
        <link rel="stylesheet" href="~/Content/css/mCustomScrollbar.min.css" type="text/css" media="all">

        <!-- Owl Stylesheets -->
        <script src="js/owl.carousel.js"></script>

        <!-- animation -->
        <script src="js/aos.js"></script>

</body>
</html>
